Repository yaslam-dev/atom: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck-src, typecheck-tests

lint:
  run: pnpm lint:fix
  stage_fixed: true

typecheck-src:
  run: pnpm type-check

typecheck-tests:
  run: pnpm type-check:tests

feat: linting improvements
  examples/backend/express-postgresql.ts
  tsconfig.vitest.json
Due: lint

feat: linting improvements
  eslint.config.js
  package.json
  pnpm-lock.yaml
  src/sync-engine.ts
  tsconfig.json
  tsconfig.vitest.json
  vite.config.ts
  vitest.config.ts
Due: lint

fix: lint basic.ts
  examples/basic.ts
Due: lint

fix: linting issues due to bad tsconfig path in eslint config
  eslint.config.js
  examples/basic.ts
  src/adapters/http-transport.ts
  src/adapters/memory-store.ts
  src/index.ts
  tests/adapters.test.ts
  tests/change-tracker.test.ts
  tests/event-emitter.test.ts
  tests/sync-engine.test.ts
  tests/utils.test.ts
  tsconfig.json
  tsconfig.vitest.json
Due: lint, typecheck-src

feat: Change Dependabot update interval to monthly
  .github/dependabot.yml
Due: none

feat: Change Dependabot update interval to monthly (#1)
  .github/dependabot.yml
Due: none

feat: banner for this repo
  README.md
  banner.png
Due: none

fix: remove header from readme
  README.md
Due: none

feat: resolved any type issues + formatted the code
  src/change-tracker.ts
  src/conflict-resolvers.ts
  src/enums.ts
  src/event-emitter.ts
  src/index.ts
  src/interfaces.ts
  src/sync-engine.ts
  src/types.ts
  src/utils.ts
Due: lint

Path conditions:
  lint: any of: *.{ts,tsx}
  typecheck-src: any of: src/**/*.{ts,tsx}
  typecheck-tests: any of: tests/**/*.{ts,tsx}
